<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<h1 class="title">Informacion de Breaking bad y Better Call Saul</h1>

<p class="level-item">
    <%= link_to('Temporadas de Breaking Bad', series_path('Breaking+Bad'), :class => "button is-dark is-outlined") %>
</p>

<p class="level-item">
    <%= link_to('Temporadas de Better Call Saul', series_path('Better+Call+Saul'), :class => "button is-dark is-outlined") %>
</p>