<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<h1 class="title">Serie: <%= @serie.name.gsub('+', ' ') %></h1>
    
    <table class="table is-striped">
      <tr class="th">
        <th>Temporada</th>
      </tr>
      <% for i in 1.. @serie.n_seasons %>
        <tr>
          <td><%= link_to 'Temporada %d' % [i], series_season_path(@serie.name, i) %>
        </tr>
      <%end %>
    </table>